@use "@styles/common" as *;

.login_btn {
    position: relative;
    width: 100%;
    height: 8vw;
    padding: 0 2.133vw;
    font-size: 2.3vw;
    font-weight: 500;
    border-radius: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    i {
        position: relative;
        width: 4.3vw;
        height: 4.3vw;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 2.133vw;
            top: 50%;
            transform: translateX(-50%)
        }
    }

    .login_text {
        font-size: 2.35vw;
        font-weight: 500;
    }

    &.google_btn {
        border: 0.133vw solid #c3c3c3;
        background: white;
        color: #4D4D4D;
    }

    &.kakao_btn {
        background: #fee500;
        color: #191919;
    }

    &.github_btn {
        background: black;
        color: #FFFFFF;
    }
}