@use "@styles/common" as *;

.card_box {
    .card {
        @include column-flexbox($jc: flex-start, $ai: center);
        box-sizing: border-box;
        width: 39vw;
        height: 50vw;
        background-color: #fff;
        border: 0.133vw solid rgba(0, 0, 0, 0.1);
        border-radius: 2.667vw;
        filter: drop-shadow(0vw 0vw 0.933vw rgba(0, 0, 0, 0.1));
        overflow: hidden;
        transition: .2s;

        .card_box_top {
            position: relative;
            width: 100%;
            height: 17vw;
            background: aliceblue;
            overflow: hidden;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .card_label {
                @include flexbox($jc: flex-start, $ai: center);
                position: absolute;
                left: 3.067vw;
                top: 2vw;
                gap: 0.933vw;

                .card_label_box {
                    padding: 0.4vw .8vw 1.3vw;
                    line-height: 2px;
                    background: rgb(255 255 255 / 75%);
                    ;
                    box-shadow: 0vw 0vw 1.333vw 0.267vw rgba(0, 0, 0, 0.25);
                    border-radius: 0.667vw;

                    span {
                        color: #151515;
                        font-size: 1.733vw;
                        font-weight: 500;
                    }

                    &.label_hot {
                        background: #ffd1e2;

                        span {
                            color: #ee1367;
                        }
                    }
                }
            }
        }

        .card_box_bottom {
            position: relative;
            width: 85%;
            height: 50%;
            padding: 3.3vw 0;

            .card_box_title {
                @include ellipsis;
                width: 100%;
                margin-bottom: 2vw;
                font-size: 2.7vw;
                font-weight: 500;
                line-height: 3.733vw;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .card_box_lang {
                @include flexbox($jc: flex-start, $ai: center);
                width: 100%;
                gap: 0.8vw;

                span {
                    display: block;
                    padding: .8vw 1vw 1.4vw;
                    border-radius: 0.667vw;
                    background: #F1EFFE;
                    line-height: 1px;

                    small {
                        color: $color-main;
                        font-size: 2.2vw;
                        font-weight: 500;
                    }
                }
            }

            .box_bottom_fix {
                position: absolute;
                width: 100%;
                bottom: 2.3vw;

                .card_box_writer {
                    @include flexbox($jc: flex-start, $ai: center);
                    margin-bottom: 2vw;

                    .writer_img {
                        position: relative;
                        display: block;
                        width: 4.4vw;
                        height: 4.4vw;
                        margin-right: 1.067vw;
                        border-radius: 50%;
                        background-color: #fff;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    b {
                        font-size: 2.6vw;
                        font-weight: 500;
                        color: $color-black;
                    }
                }

                .card_box_info {
                    @include flexbox($jc: flex-end, $ai: center);
                    gap: 2vw;

                    div {
                        @include flexbox($jc: flex-start, $ai: center);

                        i {
                            margin-right: 1.6vw;
                        }

                        span {
                            font-size: 2.2vw;
                            color: $color-black;
                            font-weight: 500;
                        }

                        .ico_eyes {
                            display: inline-block;
                            width: 3vw;
                            height: 3vw;
                            background: url("/images/ico_eyes.png") no-repeat center/contain;
                        }

                        .ico_calender {
                            display: inline-block;
                            width: 2.733vw;
                            height: 2.733vw;
                            background: url("/images/ico_calendar.png") no-repeat center/contain;
                        }
                    }
                }
            }
        }
    }
}