.nav_menu {
    display: flex;
    gap: 15px;

    a {
        display: inline-block;
        padding: 14px 18px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        color: #392c90;
        transition: .2s;

        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
        }
    }

    .on {
        display: block;
    }

    .off {
        display: none;
    }
}